@import url(../styles/global.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    border:none;
}

body{
    background-color: var(--white);
}

/* header */

header{
    display:flex;
    justify-content: space-between;
    align-items: center;

    padding:30px 54px;
    background-color: var(--white);
}

.header-links{
    display: flex;
    gap:75px;
}

.header-links> a {
    color: var(--black);
        
}

.header-icons{
    display:flex;
    gap: 45px;
}

/* main */

main{
    display:flex;
    flex-direction: column;
    position: relative;
}

.main-text{
    display: flex;
    flex-direction: column;
    

    background-color: var(--secondary-color);

    width: 643px;
    height: 443px;

    margin:153px 60px;

    top:1px;
    right:1px;
    
    position: absolute;
    z-index: 1;

    padding:40px;

    border-radius:10px;
}

.main-text > h1{
    font-size:65px;
    color: var(--primary-color);
    font-weight: bolder;
    text-transform:capitalize;
}

.main-text :nth-child(1) {
    font-size:16px;
    font-weight: bold;
    letter-spacing: 3px;
}

.main-text> p:nth-child(3) {
    font-size:18px;
    font-weight: 500;    
}

.main-text>a{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--primary-color);
    color: var(--white);
    text-transform: capitalize;

    padding:25px 42px;
    margin:24px 0px;
    width: 222px;
    height: 74px;
}

/* browse */

.browse{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.browse-text{
    text-align: center;
    margin:50px;
}

.browse-imgs{
    display: flex;
    gap: 20px;
}

.browse-imgs-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.browse-imgs-content>p{
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 500;
    margin:30px;    
}

/* Products */

.products{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.products-cards{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 12px 17%;
}

.products-card-items{
    display: grid;
    position: relative;
}

.product-card-text{
    background-color: var(--grey-shade);
    width: 285px;
    height: 145px;
    padding:20px 16px;
    margin: -14px 0px;
}

.products > button{
    margin:32px;
}

.show-more-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:12px 72px;
    color: var(--primary-color);
    background-color: var(--white);
    border: 2px solid var(--primary-color);
    font-weight: bolder;
    font-size: 16px;
}

/* products text */

.discont-product{
    display:flex;
    gap:20px;
}

.product-card-text > h3{
    font-size:24px;
}
.product-card-text :nth-child(2){
    font-size:12px;
    color: #898989;
}
.product-card-text :nth-child(3){
    font-size:20px;
    font-weight: 400;
}

.discont-product :nth-child(1){
    font-size: 20px;
    font-weight: 400;
}

.discont-product :nth-child(2){
    font-size: 16px;
    color:gray;
    text-decoration:line-through;
}

/* tags */

.promotion-tag-30{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    
    left: 69%;
    top:13px;
    color: var(--white);
    background-color: #E97171;
    padding:12px;

    width: 50px;
    height: 50px;

    border-radius: 50%;
}

.promotion-tag-50{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    
    left: 69%;
    top:13px;
    color: var(--white);
    background-color: #E97171;
    padding:12px;

    width: 50px;
    height: 50px;

    border-radius: 50%;
}

.new-tag{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    
    left: 69%;
    top:13px;
    color: var(--white);
    background-color: #2EC1AC;
    padding:12px;

    width: 50px;
    height: 50px;

    border-radius: 50%;
}

/* Explore more */

.explore-more{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:74px 0px;
    padding:44px 0px;
    background-color:var(--secondary-color);
}

.explore-more-text{
    display:flex;
    flex-direction: column;
    margin:32px;
    margin:100px;
}
.explore-more-text>h2{
    font-size:40px;
    font-weight: 700;   
}

.explore-more-text>p{
    font-size:16px;
    width: 386px;
    
}

.explore-more-btn{
    padding:12px 32px;
    background-color: var(--primary-color);
    color:var(--white);
    text-transform: capitalize;
    width: 176px;
    height:48px;
    margin: 25px 0px;
}

.explore-more-main-img{
    display:flex;
    position: relative;
}

.explore-more-main-img-content{
    display:flex;
    flex-direction: column;
    position: absolute;

    top:79%;
    left:10%;
    padding:32px;

    background-color: var(--white);
}

.explore-more-main-img-content>h5{
    font-size: 28px;
    font-weight: 500;
}

.explore-more-main-img-content>p{
    font-size: 16px;
    font-weight: 200;
}

