@import url(../styles/global.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    border:none;
}

body{
    background-color: var(--white);
}

/* header */

header{
    display:flex;
    justify-content: space-between;
    align-items: center;

    padding:30px 54px;
    background-color: var(--white);
}

.header-links{
    display: flex;
    gap:75px;
}

.header-links> a {
    color: var(--black);
        
}

.header-icons{
    display:flex;
    gap: 45px;
}

/* main */

main{
    display:flex;
    flex-direction: column;
    position: relative;
}

.main-text{
    display: flex;
    flex-direction: column;
    

    background-color: var(--secondary-color);

    width: 643px;
    height: 443px;

    margin:153px 60px;

    top:1px;
    right:1px;
    
    position: absolute;
    z-index: 1;

    padding:40px;

    border-radius:10px;
}

.main-text > h1{
    font-size:65px;
    color: var(--primary-color);
    font-weight: bolder;
    text-transform:capitalize;
}

.main-text :nth-child(1) {
    font-size:16px;
    font-weight: bold;
    letter-spacing: 3px;
}

.main-text> p:nth-child(3) {
    font-size:18px;
    font-weight: 500;    
}

.main-text>a{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--primary-color);
    color: var(--white);
    text-transform: capitalize;

    padding:25px 42px;
    margin:24px 0px;
    width: 222px;
    height: 74px;
}

/* browse */

.browse{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.browse-text{
    text-align: center;
    margin:50px;
}

.browse-imgs{
    display: flex;
    gap: 20px;
}

.browse-imgs-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.browse-imgs-content>p{
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 500;
    margin:30px;    
}

/* Products */

.products{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.products-cards{
    display:grid;
    grid-template-columns: 1fr  1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 24px;
    margin: 12px 17%;
}

.products-card-items{
    display: grid;
    position: relative;
}

.product-card-text{
    background-color: var(--grey-shade);
    width: 285px;
    height: 145px;
    padding:20px 16px;
    margin: -14px 0px;
}

.products > button{
    margin:32px;
}

.show-more-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:12px 72px;
    color: var(--primary-color);
    background-color: var(--white);
    border: 2px solid var(--primary-color);
    font-weight: bolder;
    font-size: 16px;
}

/* products text */

.discont-product{
    display:flex;
    gap:20px;
}

.product-card-text > h3{
    font-size:24px;
}
.product-card-text :nth-child(2){
    font-size:12px;
    color: #898989;
}
.product-card-text :nth-child(3){
    font-size:20px;
    font-weight: 400;
}

.discont-product :nth-child(1){
    font-size: 20px;
    font-weight: 400;
}

.discont-product :nth-child(2){
    font-size: 16px;
    color:gray;
    text-decoration:line-through;
}

/* tags */

.promotion-tag-30{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    
    left: 69%;
    top:13px;
    color: var(--white);
    background-color: #E97171;
    padding:12px;

    width: 50px;
    height: 50px;

    border-radius: 50%;
}

.promotion-tag-50{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    
    left: 69%;
    top:13px;
    color: var(--white);
    background-color: #E97171;
    padding:12px;

    width: 50px;
    height: 50px;

    border-radius: 50%;
}

.new-tag{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    
    left: 69%;
    top:13px;
    color: var(--white);
    background-color: #2EC1AC;
    padding:12px;

    width: 50px;
    height: 50px;

    border-radius: 50%;
}

/* Explore more */

.explore-more{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:74px 0px;
    padding:44px 0px;
    background-color:var(--secondary-color);
}

.explore-more-text{
    display:flex;
    flex-direction: column;
    margin:32px;
    margin:100px;
}
.explore-more-text>h2{
    font-size:40px;
    font-weight: 700;   
}

.explore-more-text>p{
    font-size:16px;
    width: 386px;
    
}

.explore-more-btn{
    padding:12px 32px;
    background-color: var(--primary-color);
    color:var(--white);
    text-transform: capitalize;
    width: 176px;
    height:48px;
    margin: 25px 0px;
}

.explore-more-main-img{
    display:flex;
    position: relative;
}

.explore-more-main-img-content{
    display:flex;
    flex-direction: column;
    position: absolute;

    top:79%;
    left:10%;
    padding:32px;

    background-color: var(--white);
}

.explore-more-main-img-content>h5{
    font-size: 28px;
    font-weight: 500;
}

.explore-more-main-img-content>p{
    font-size: 16px;
    font-weight: 200;
}

/* share setup (essa vai ser o krlll) */

.share-setup{
    display: flex;
    flex-direction:column;
    position:relative;
    margin-bottom:750px;
}

.share-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#estante{
    display: flex;
    position: absolute;
    top:1%;
}

#notebook-radio{
    display: flex;
    position: absolute;
    top:130%;
    left:9%;
}

#dinner-table{
    display: flex;
    position: absolute;
    top:150%;
    left:41%;
}

#bed-bedroom{
    display: flex;
    position: absolute;
    top:190%;
    left:63%;
}

#tabletop-wall{
    display: flex;
    position: absolute;
    top:50%;
    left:1274px;
}

#cadeira-madeira{
    display: flex;
    position: absolute;
    top: 700%;
}

#nightstand-pot{
    display: flex;
    position: absolute;
    top: 700%;
    left: 14%;
}

#portrait-pot{
    display: flex;
    position: absolute;
    top: 800%;
    left:63%;
}

#kitchen-wall{
    display: flex;
    position: absolute;
    top: 900%;
    left:1210px;
}

/* o objetivo é ficar igual a do figma, e na minha tela tá legal, mas eu nunca mais quero fazer isso dnv :sob: */

/* Footer */

footer{
    display:grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    margin:0px 70px;
    padding: 32px 0px;

    border-bottom: 1px solid var(--black);
    border-top: 1px solid var(--black);
}

.footer-text-rights{
    display: flex;
    flex-direction: column;
    gap:50px;
}

.footer-text-rights>h3{
    font-size: 24px;
    font-weight: 700;
    color: var(--black);
}

.footer-text-rights>p{
    font-size:14px;
    color: gray;
}

.footer-links{
    display:flex;
    flex-direction: column;
    gap: 40px;
}

.footer-links>a{
    font-size:16px;
    color:var(--black);
    text-transform: capitalize;
}

.footer-links>p{
    font-size:16px;
    color:gray;
    text-transform: capitalize;
}

.newsletter{
    display:flex;
    gap:12px;
   
}
.newsletter>input{
    border-bottom: 1px solid var(--black);
}

.newsletter>button{
    border-bottom: 1px solid var(--black);
    background-color: var(--white);
    cursor: pointer;
}

.newsletter>button>a{
    color:var(--black);
    text-transform: capitalize;
}

.newsletter>button:active{
    border-bottom: 1px solid var(--black);
    background-color: gray;
    cursor: pointer;
}

/* texto no fim */

#all-rights{
    font-size: 16px;
    margin:32px;
    font-weight: 200;
}

/* pagina shop */

#shop-background{
    position: absolute;
    width: 100%;
    z-index: -1;
}

.main-shop-text{
    display:flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    padding:120px 640px;
}

.main-shop-text>h1{
    font-size:40px;
    font-weight: 400;
}

.home-to-shop{
    display:flex;
    align-items: center;
    gap:7px;
}

.home-to-shop>p:nth-child(1){
    font-weight: bold;
}

.home-to-shop>p:nth-child(2){
    font-weight: bolder;
    font-size: 24px;
}

.home-to-shop>p:nth-child(3){
    font-weight: light;
}

/* FIlter */

.filter{
    display:flex;
    justify-content: space-between;
    padding:31px 96px;

    background-color: var(--secondary-color);
}

.filter-icons{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:16px;
}

.filter-icons>p{
    font-size:16px;
    font-weight: 300;
    border-right: 1px solid var(--black);
    padding-right: 20px;
}

.sort-by{
    display:flex;
    align-items: center; 
}

.sort-by>input{
    width: 100px;
    height:55px;
    padding: 0px 16px;
    font-size: 16px;
    color: var(--black);
    background-color: var(--white);
    border-radius: 10px;
}

.sort-by>input:nth-child(2){
    width: 55px;
    height:55px;
}

.sort-by>input:nth-child(4){
    width: 188px;
    height:55px;
}

.sort-by>p{
    margin: 0px 24px;
}